distver.bat
?_debug.txt
?_debug_archive.txt
hs_debug.txt
ex.err
gmon.out
ver.txt
iver.txt

*.xml
*.hs
*.hsi
*.sav
*.saves
*.pyc
*.db
*.bak
*~
\#*\#
.*
GPATH
GRTAGS
GTAGS

build/
*.exe
ohrrpgce-game
ohrrpgce-custom
hspeak
unlump
relump
reloadtest
vectortest
rbtest
utiltest
xml2reload
reload2xml
reloadutil
dumpohrkey
bam2mid
miditest
slice2bas
verprint

unittest.rld
import/Music
import/Sound Effects
gfx_directx.dll.manifest
gfx_directx.exp
gfx_directx.ilk
gfx_directx.lib
gfx_directx.pdb
gfx_directx/gfx_directx.res
vc90.pub
autotest/
autobackups/
joyset.ini
android/tmp/
