distver.bat
?_debug.txt
?_debug_archive.txt
script_log.txt
hs_debug.txt
ex.err
gmon.out
ver.txt
iver.txt

#*.xml
*.hs
*.hsi
*.sav
*.saves
*.ohrkeys
*.pyc
*.db
*.bak
*~
\#*\#
.*
GPATH
GRTAGS
GTAGS

build/
distrib/
node_modules/
*.exe
ohrrpgce-game
ohrrpgce-custom
OHRRPGCE-Game.app
OHRRPGCE-Custom.app
hspeak
unlump
relump
reloadtest
vectortest
rbtest
utiltest
filetest
xml2reload
reload2xml
reloadutil
dumpohrkey
bam2mid
miditest
slice2bas
verprint

unittest.rld
unittest.xml
import/Music
import/Sound Effects
support/*.zip
# The following are from hsdecmpl
support/hsdecmpl.txt
support/plotscr.hsd
support/scancode.hsi
support/rules.txt
# Indicator file
support/zip-version-3.0.txt
gfx_directx.dll.manifest
gfx_directx.exp
gfx_directx.ilk
gfx_directx.lib
gfx_directx.pdb
gfx_directx/gfx_directx.res
vc90.pub
# OSX debug info
*.dSYM
autotest/
autobackups/
joyset.ini
android/tmp/
android/extraconfig.cfg

ohr.geany

# Location-specific exclusions
*.rpg
!testgame/**/*.rpg
*.bmp
*.gif
# Everything under data
!data/**
